@model List<FileModel>
@foreach (var p in Model)
{
<div>
    <h4>@p.ShortDescription</h4>
    <p>
        <button type="button" class="bubbly-button" onclick="location.href = '@Url.Action("GetFileProfile", "File", new {url = p.ShortURL}, null)'">
            <h4>Profile</h4>
        </button>
    </p>
    </div>
}