@model IEnumerable<FileSharing.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="Upload" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <label>Description</label>
    <input name="Description" class="form-control" />
    <label>ShortDescription</label>
    <input name="ShortDescription" class="form-control" />
    <input type="submit" value="Загрузить" />
</form>